<h1>Listing sub_genres</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Genre</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sub_genres.each do |sub_genre| %>
  <tr>
    <td><%= sub_genre.name %></td>
    <td><%= sub_genre.genre_id %></td>
    <td><%= link_to 'Show', sub_genre %></td>
    <td><%= link_to 'Edit', edit_sub_genre_path(sub_genre) %></td>
    <td><%= link_to 'Destroy', sub_genre, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sub genre', new_sub_genre_path %>
